{% extends 'base.html.twig' %}

{# ajouter la variable fruit.couleur au fond #}
{% block body %}
    <style>
        body {
            background-color: {{ fruit.couleurPastel ?? 'white' }};
        }
    </style>

    <h1>Bienvenue sur Tutti Frutti ! </h1>
    Prêt à écouter le son des fruits ?

    <div id="fruit-song">
        {% if fruit %}
            <div>
                <h2>Fruit actuel :</h2>
                <img src="{{ asset('assets/' ~ fruit.nomEn|lower ~ '-card.png') }}" alt="{{ fruit.nomFr }}" width="200">
            </div>
        {% else %}
            <p>Veuillez-vous connecter pour accéder aux fonctionnalités.</p>
        {% endif %}

        {% if musiqueAleatoire %}
            <div>
                <h2>Titre aléatoire</h2>
                <h4>{{ musiqueAleatoire.nomDeGroupe }}</h4>
                <h6>{{ musiqueAleatoire.Label }}</h6>
                <a href="{{ musiqueAleatoire.lien ?? '' }}">
                    {% if musiqueAleatoire.image is not empty and musiqueAleatoire.image|trim is not empty %}
                        <img src="{{ musiqueAleatoire.image }}" alt="{{ musiqueAleatoire.reference }}" width="200">
                    {% else %}
                        <img src="{{ asset('assets/song.jpg') }}" alt="{{ musiqueAleatoire.reference }}" width="200">
                    {% endif %}
                </a>
            </div>
        {% endif %}
    </div>

    {% if app.user %}
        <h2>Les fruits</h2>
        <ul id="fruits">
            <li><a href="{{ path('app_home_fruit', {'nomFruit': 'Pastèque'}) }}"><img
                            src="{{ asset('assets/watermelon.png') }}" alt="Pastèque"></a></li>
            <li><a href="{{ path('app_home_fruit', {'nomFruit': 'Fraise'}) }}"><img
                            src="{{ asset('assets/strawberry.png') }}" alt="Fraise"></a></li>
            <li><a href="{{ path('app_home_fruit', {'nomFruit': 'Banane'}) }}"><img
                            src="{{ asset('assets/banana.png') }}"
                            alt="Banane"></a></li>
            <li><a href="{{ path('app_home_fruit', {'nomFruit': 'Myrtille'}) }}"><img
                            src="{{ asset('assets/blueberry.png') }}" alt="Myrtille"></a></li>
            <li><a href="{{ path('app_home_fruit', {'nomFruit': 'Pêche'}) }}"><img src="{{ asset('assets/peach.png') }}"
                                                                                   alt="Pêche"></a></li>
        </ul>
    {% endif %}

{% endblock %}
