{% extends 'base.html.twig' %}

{% block title %}Hello PlaylistController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 1em auto;
            max-width: 800px;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper form {
        }

        .example-wrapper table {
            border-collapse: collapse; /* Collapse borders */
        }

        .example-wrapper table th,
        .example-wrapper table td {
            padding: 8px; /* Add padding to cells */
            text-align: left; /* Align cell content to the center */
        }

        .example-wrapper table th {
            width: 50%; /* Each column header spans two columns */
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .filter-container {
            display: flex;
            flex-direction: column;
            align-items: center; /* Align items to the end of the container */
        }

        .form-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-field{
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>

    <div class="example-wrapper">
        <div>
            <table class="table table-bordered">
                <tr>
                    <th colspan="2">Année</th>
                    <th colspan="2">Genre</th>
                    <th width="240px">Action</th>
                </tr>
                {% for playlist in playlists %}
                    <tr>
                        <td colspan="6">{{ playlist.musique.reference }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ playlist.musique.annee ?? "<div style='font-size:0.8em'><i>Inconnue</i></div>" }}</td>
                        <td colspan="2">{{ playlist.musique.genre ?? "<div style='font-size:0.8em'><i>Inconnu</i></div>" }}</td>
                        <td>
                            <form method="post" action="{{ path('app_playlist_delete', {'id': playlist.id}) }}"
                              onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <a class="btn btn-outline-info" href="{{ path('musique_show', {'id': playlist.musique.id}) }}">Détails</a>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ playlist.id) }}">
                                <button class="btn btn-outline-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="filter-container">
            <div>
                <h2>Filtrer</h2>
            </div>
            <div>
                <form method="get" action="playlist">
                    <div class="form-container">
                        <div class="form-field">
                            <div>
                                <label for="annee">Année :</label>
                            </div>
                            <div>
                                <input type="text" id="annee" name="annee">
                            </div>
                        </div>
                        <div class="form-field">
                            <div>
                                <label for="nom_groupe">Nom du groupe :</label>
                            </div>
                            <div>
                                <input type="text" id="nom_groupe" name="nom_groupe">
                            </div>
                        </div>
                        <div class="form-field">
                            <div>
                                <label for="label">Label :</label>
                            </div>
                            <div>
                                <input type="text" id="label" name="label">
                            </div>
                        </div>
                        <div class="form-field">
                            <div>
                                <label for="genre">Genre :</label>
                            </div>
                            <div>
                                <input type="text" id="genre" name="genre">
                            </div>
                        </div>
                        <div class="form-field">
                            <div>
                                <label for="format">Format :</label>
                            </div>
                            <div>
                                <input type="text" id="format" name="format">
                            </div>
                        </div>
                        <div class="form-field">
                            <div>
                                <label for="fruit">Fruit :</label>
                            </div>
                            <div>
                                <input type="text" id="fruit" name="fruit">
                            </div>
                        </div>
                        <div class="form-field">
                            <button type="submit">Filtrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
